EXERCICI 1

Descarrega el dataset adjunt de dades oficials de la UEFA i selecciona un atribut del conjunt de dades. Calcula el p-valor i digues si rebutja la hipòtesi nul·la agafant un alfa de 5%.

In [57]:
import numpy as np
import pandas as pd
df=pd.read_csv('C:\\Users\client277192\\Documents\\01-IT ACADEMY. DATA SCIENCE\\Test Hipotesis and Machine Learning\\M5\\Lligues europees UEFA.csv', encoding='ISO-8859-1', sep=';')
df.shape

(98, 21)

In [58]:
df.describe()

,Rk,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/G,xG,xGA,xGD,xGD/90,Attendance
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.00000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,49.500000,10.316327,36.306122,13.448980,9.408163,13.44898,50.877551,50.877551,0.000000,49.734694,1.370204,48.653061,48.645918,-0.005102,0.000918,24239.857143
std,28.434134,5.706926,1.152390,5.747474,2.903381,5.12347,16.102933,13.634602,26.501896,16.166371,0.443903,12.453950,9.812481,19.992506,0.551414,14874.171842
min,1.000000,1.000000,34.000000,3.000000,3.000000,2.00000,23.000000,24.000000,-56.000000,18.000000,0.530000,28.200000,26.800000,-40.400000,-1.090000,5870.000000
25%,25.250000,5.250000,36.000000,9.000000,7.000000,10.00000,39.000000,40.000000,-17.750000,37.000000,1.000000,39.100000,41.300000,-13.575000,-0.365000,12355.500000
50%,49.500000,10.000000,37.000000,13.000000,9.000000,13.00000,47.000000,50.000000,-1.000000,46.000000,1.300000,46.450000,47.750000,-1.100000,-0.030000,20491.000000
75%,73.750000,15.000000,37.000000,17.000000,11.000000,17.00000,60.000000,59.000000,17.250000,61.750000,1.695000,55.550000,54.700000,12.800000,0.355000,32382.000000
max,98.000000,20.000000,37.000000,28.000000,16.000000,26.00000,97.000000,89.000000,72.000000,90.000000,2.430000,88.100000,73.300000,59.300000,1.600000,73150.000000

In [59]:
df.head(3)

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,...,Pts,Pts/G,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper
0,1,Manchester City,ENG,1,37,28,6,3,96,24,...,90,2.43,86.1,26.8,59.3,1.60,W W W W D,52739,Kevin De Bruyne - 15,Ederson
1,2,Liverpool,ENG,2,36,26,8,2,89,24,...,86,2.39,84.6,33.1,51.4,1.43,W W W D W,53367,Mohamed Salah - 22,Alisson
2,3,Real Madrid,ESP,1,37,26,7,4,80,31,...,85,2.30,73.0,45.8,27.2,0.73,W W L W D,40624,Karim Benzema - 27,Thibaut Courtois

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               98 non-null     int64
 1   Squad            98 non-null     object
 2   Country          98 non-null     object
 3   LgRk             98 non-null     int64
 4   MP               98 non-null     int64
 5   W                98 non-null     int64
 6   D                98 non-null     int64
 7   L                98 non-null     int64
 8   GF               98 non-null     int64
 9   GA               98 non-null     int64
 10  GD               98 non-null     int64
 11  Pts              98 non-null     int64
 12  Pts/G            98 non-null     float64
 13  xG               98 non-null     float64
 14  xGA              98 non-null     float64
 15  xGD              98 non-null     float64
 16  xGD/90           98 non-null     float64
 17  Last 5           98 non-null     object
 18  Attendance       98 non-null     int64
 19  Top Team Scorer  98 non-null     object
 20  Goalkeeper       98 non-null     object
dtypes: float64(5), int64(11), object(5)
memory usage: 16.2+ KB

In [61]:
media_mp=df['W'].mean().round(2)
media_mp

13.45

In [62]:
#Condiciones para aplicar t-test
#Independencia de los datos. Si
#Homogeneidad varianzas. Si
#Normalidad de los datos

#Normalidad de los datos
stat, p_value_shapiro = shapiro(df['W'])
print(f'el estadistico de shapiro es{stat}, el p_value de shapiro es:{p_value_shapiro} ')
print('el estadistico me muestra q la muestra es normal pero el p_valor no lo corrabora')

el estadistico de shapiro es0.96535325050354, el p_value de shapiro es:0.010963087901473045
el estadistico me muestra q la muestra es normal pero el p_valor no lo corrabora

In [63]:
#hipotesis
H0='la media de la columna W es igual a 14'
H1='la media de la columna W es menor que 14'
import scipy.stats as stats

t_stat, p_value = stats.ttest_1samp(df['W'], 14)

In [64]:
print('Test statistic:', t_stat)
print('p_value: ',p_value)

Test statistic: -0.9490820034869016
p_value:  0.3449375342969059

In [65]:
alfa=0.05
if p_value < alfa:
    print('se rechaza la hipoteis nula:la media de la columna W es igual a 14 ')
else:   
    print('no se rechaza la hipoteis nula:la media de la columna W NO es igual a 14')

no se rechaza la hipoteis nula:la media de la columna W NO es igual a 14

EXERCICI 2
Amb el mateix dataset selecciona dos altres atributs del conjunt de dades. Calcula els p-valors i digues si rebutgen la hipòtesi nul·la agafant un alfa de 5%.

In [74]:
H0='El squad Barcelona ha realizado mas Pts que la media de los equipos' 
Ha='El squad Barcelona No ha realizado mas Pts que la media de los equipos'

from scipy.stats import shapiro
import pingouin as pg

#TEST DE NORMALIDAD SHAPIRO-WILK. la hipotesis nula es que siguen distribución normal.
#en este caso sólo hay una variabla numerica, la otra es categorica

stat, p_valor=shapiro(df['Pts'])
print(f'Test de Normalidad (Shapiro-Wilk - p-valor: {p_valor})')
print('no es una distribución normal porque el p_valor es inferior a 0.05')
#o
#pg.normality(df['Pts'], method='shapiro')
#print('no es una distribución normal porque el p-valor es inferior a 0.05')

Test de Normalidad (Shapiro-Wilk - p-valor: 0.0346611924469471)
no es una distribución normal porque el p_valor es inferior a 0.05

In [42]:
media_Barcelona= df.loc[df['Squad'] =='Barcelona', 'Pts'].mean() 
media_todos=df['Pts'].mean()

print(f'Media de Pts de Barcelona:{media_Barcelona}')
print(f'Media de Pts de todos los equipos:{media_todos}')

Media de Pts de Barcelona:73.0
Media de Pts de todos los equipos:49.734693877551024

In [26]:
alfa=0.05

t_stat,p_value=stats.ttest_1samp(df['Pts'], media_Barcelona)

print(f'Test t de la muestra - p_valor: {p_value}')

Test t de la muestra - p_valor: 1.6247262894653765e-25

In [70]:
if p_value<alfa:
   print(f'valor p ={p_value}. Se rechaza la hipotesis nula')
else:
   print(f'valor p ={p_value}. No hay suficiente evidencia para rechazar la hipoteisi nula')

valor p =0.3449375342969059. No hay suficiente evidencia para rechazar la hipoteisi nula

EXERCICI 3

Continua amb el conjunt de dades adjunt i selecciona tres atributs del conjunt de dades. Calcula el p-valor i digues si rebutja la hipòtesi nul·la agafant un alfa de 5%.

In [25]:
#Condiciones para aplicar prueba ANOVA
#Independencia de los datos. SI
#DISTRIBUCION NORMAL- Shapiro-Wilk

HO='distribución normal'
H1='distribución NO normal'

from scipy.stats import shapiro, levene
normalidad = df.groupby('Country')['Attendance'].apply(lambda x: shapiro(x)[1])
print(normalidad)
print('Los valores superiores a 0.05 sugieren que tienen una disribución normal, los inferiores que no')
print('la distribución de la normalidad no es muy buena en España y Italia')

Country
ENG    0.368339
ESP    0.010392
FRA    0.058342
GER    0.502542
ITA    0.000540
Name: Attendance, dtype: float64
Los valores superiores a 0.05 sugieren que tienen una disribución normal, los inferiores que no
la distribución de la normalidad no es muy buena en España y Italia

In [26]:
#homogeniedad de las varianzas

levene_stat, levene_p_value = levene(*[group for country, group in df.groupby('Country')['Attendance']])
print(f'levene_stat={levene_stat}, levene_p_value={levene_p_value}')
print('no hay diferencia significativa entre varianzas de grupos')

levene_stat=1.1825343697963033, levene_p_value=0.3236643472017759
no hay diferencia significativa entre varianzas de grupos

In [11]:
H0=' la media de espectadores por pais es igual en todos los paises'
H1= 'la media de espectadores por pais NO es igual en todos los paises'

#Hago un estadistico ANOVA. Primero agrupo los datos

agrupación=df.groupby('Country')['Attendance'].apply (list)  #apply(list) tengo agrupado por pais y luego la lista de asistencias por pais
agrupación

Country
ENG    [52739, 53367, 36991, 56234, 59636, 73150, 583...
ESP    [40624, 53933, 48039, 29669, 41749, 26992, 142...
FRA    [41188, 5870, 51082, 25309, 23462, 15478, 2846...
GER    [33176, 41800, 17356, 22124, 14046, 18741, 319...
ITA    [42388, 41995, 26681, 21627, 21235, 19801, 407...
Name: Attendance, dtype: object

In [13]:
from scipy.stats import f_oneway

stat, p = f_oneway(*agrupación)

In [14]:
print(f'Estadistico F: {stat}')
print(f'p_valor{p}')

Estadistico F: 9.531073835720898
p_valor1.6755280882403356e-06

In [75]:
alfa= 0.05
if p<alfa:
   print(f'valor p ={p}. Se rechaza la hipotesis nula:la media de espectadores por pais es igual en todos los paises')
else:
   print(f'valor p ={p}. No hay suficiente evidencia para rechazar la hipoteisi nula')

valor p =1.6755280882403356e-06. Se rechaza la hipotesis nula:la media de espectadores por pais es igual en todos los paises